body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boton .btn-success {
    margin: 20px;

}

.cardProducto {
    width: 18rem;
    margin: 5px;
    
}

.carritoModal{
    display: flex;
    align-items: center;
    gap: 2rem;

}
.img-carrito{
    width: 200px;
    padding: 20px;
}

.parrafo{
    font-weight: 700;
    font-style: italic;
}
